
.spacer {
  background-image: url("./layered-waves-haikei.svg");
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.aboutUs {
    background-color: #596b7a;
    color: white;
    height: 80vh;
    display: grid;
    grid-template-columns:(1fr, 1fr);
  }
  


.contentHead {
  margin: 0%;
  padding: 0%;
  grid-area: contentHead;
}

.content1 {
  background-color: thistle;
  grid-area: content1;
}

.content2 {
  background-color: tomato;
  grid-area: content2;
}

