.spacer {
  background-image: url("./layered-waves-haikei.svg");
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.aboutUs {
  background-color: var(--greyPrimary);
    border: 0;
  color: white;
  height: 100vh;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: (2, 1fr);
  grid-template-areas:
    "contentHead contentHead"
    "contentImage content1";
    
}

.contentHead {
  color: var(--yellowPrimary);
  grid-area: contentHead;
}

.contentContainer {
padding: 50px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;



  background-color: var(--mediumDark);
  color: var(--yellowPrimary);
  grid-area: content1;
}


.contentImage {
  background-color: tomato;
  grid-area: contentImage;
  height: 200px;
  width: 100px;
}
