.navBarContainer {
    position: fixed;
    background-color: black;
    max-height: 10vh;
    min-height: 50px;
    width: 100vw;
   display: flex;
   justify-content: space-between;
} 

.linkFlex {
    /* padding: 1%; */
    margin: 1%;
    background-color: black;
    width: min(300px, 60%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;  
    flex-direction: row;
    flex-wrap: nowrap;
    flex-shrink: inherit;

}


.linkFlex li {
    background-color: black;
    list-style-type: none;
    
} 

.linkFlex li a {
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    
}

.logoContainer {
    height: 10px;
    width: 180px;
}