.navBarContainer {
    position: fixed;
    background-color: black;
    /* border-bottom: 1px solid black; */
    max-height: 10vh;
    min-height: 50px;
    width: 100vw;
   display: flex;
   justify-content: space-between;
} 

.linkFlex {
    background-color: black;
    width: 25vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;  
}


.linkFlex li {
    background-color: black;
    list-style-type: none;
    display: flex;
} 

.linkFlex li a {
    color: white;
    text-decoration: none;
    display: flex;

}

.logoContainer {
    height: 10px;
    width: 180px;
}